
  .users {
    grid-area: c;
    background-color: rgba(238, 169, 221, 0.466);
    margin-top: 10px;
    border-radius: 10px;
    height: 100%;
    box-shadow: 5px 2px 5px 5px rgba(24, 4, 24, 0.336);
  }

  .users img{
    width: 200px;
    border-radius: 50%;
    
  }