.header {
    grid-area: h;
    background-color: rgb(68, 15, 57);
    border-radius: 10px;
    box-shadow: 2px 0px 8px 5px rgba(24, 4, 24, 0.336);
  }
  .header img{
    width: 60px;
   margin-left: 5px;

  }
  