.nav {
    grid-area: n;
    background-color: plum; 
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    padding: 40px;
    padding-left: 40px;
    font-size: 25px;
    font-family:'Impact';
    color: rgb(51, 15, 56);
    height: 400px;
    box-shadow: 0px 5px 5px 5px rgba(24, 4, 24, 0.336);
  
    

}

.settings {
   
    margin-top: 20px;
}